<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sf.tools.peddlers"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="sf.tools.peddlers.SFPeddlersApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sf.tools.peddlers.ActivityFirstFeeling"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ActivityCharacteristic"></activity>
        <activity android:name="ActivityStatistic"></activity>
        <activity android:name="ActivityShopping"></activity>
        <activity android:name="ActivitySettingGroup"
            android:launchMode="singleTask"></activity>
        <activity android:name="ActivityAddSettingGroup"></activity>
        <activity android:name="ActivitySettingGroupCharacteristicItem"></activity>
        <activity android:name="ActivitySettingGroupCargoList"></activity>
        <activity android:name="ActivitySettingGroupAddCargo"></activity>
        <activity android:name="ActivitySettingGroupCargoDetail"></activity>
        <activity android:name="ActivityStatisticsOverView"
            android:launchMode="singleTask"></activity>
        <activity android:name="ActivityStatisticsCargoRankList"></activity>
        <activity android:name="ActivityStatisticsCharacteristicLine"></activity>
        <activity android:name="ActivityStatisticsShoppingList"></activity>
    </application>

</manifest>